<!DOCTYP html>
<html>
	<head>
		<meta charset="utf-8">
		<title>脉圈-社交人脉管理</title>
		<link rel="shortcut icon" href="img/logo.ico">
		<link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/grid.css">
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
		<link rel="stylesheet" type="text/css" href="css/layout.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</head>
	<body>
		<section class="container header">
			<a href="" class="logo"></a>
			<div class="col7 header-search-block">
				<div class="search-box">
					<a class="img-button button-search"></a>
					<input type="search"></input>
				</div>
				<ul class="auto-suggest hidden">
					<li>
						<span class="profile-pic30"></span> Dizhou (Lucas) Luo<span class="fa fa-clock-o fa-lg"></span>
					</li>
				</ul>
			</div>
			<div class="col3 header-controls">
				<span class="profile-pic40"></span>
				<span class="img-button button-me-white"></span>
				<span class="img-button button-home-white"></span>
				<span class="img-button button-chats-white"></span>
				<div class="popup">
					<span class="popup-arrow"></span>
					<div class="container">
						<ul>
							<li>yanqian0302@gmail.com</li>
							<li><span class="icon-quit"></span>退出</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="container sub-menu">
			<ul>
				<li class="active"><span class="icon-contacts"></span>麦圈通讯录</li>
				<li><span class="fa fa-weibo fa-lg"></span>新浪微博</li>
				<li><span class="fa fa-qq fa-lg"></span>腾讯微博</li>
				<li><span class="fa fa-renren fa-lg"></span>人人网</li>
				<li><span class="fa fa-linkedin-square fa-lg"></span>领英网</li>
			</ul>
			<div class="sub-controls">
				<span class="img-button button-list"></span>
				<span class="img-button button-tile active"></span>
				<span class="img-button button-merge"></span>
				<div class="popup suggested-links hidden">
					<ul>
						<li>
							<p class="item-1"><span class="profile-pic40"></span>曹靖不懂科学<span class="fa fa-weibo fa-lg"></span></p>
							<div class="actions">
								<span class="button-delete"></span>
								<span class="button-accept"></span>
							</div>
							<p class="item-2"><span class="profile-pic40"></span>曹靖<span class="fa fa-renren fa-lg"></span></p>
							<div class="set-remarks hidden">
								<label>显示姓名</label>
								<input type="text"></input>
								<button class="yellow-button">完成</button>
							</div>
						</li>
						<li>
							<p class="item-1"><span class="profile-pic40"></span>四丫丫丫丫<span class="fa fa-weibo fa-lg"></span></p>
							<div class="actions">
								<span class="button-delete"></span>
								<span class="button-accept"></span>
							</div>
							<p class="item-2"><span class="profile-pic40"></span>捣浆糊<span class="fa fa-qq fa-lg"></span></p>
							<div class="set-remarks hidden">
								<label>显示姓名</label>
								<input type="text"></input>
								<button class="yellow-button">完成</button>
							</div>
						</li>
					</ul>
					<a href="" class="text-button">更多</a>
				</div>
			</div>
		</section>
		<section class="container contacts">
			<ul>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>1024专员<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>___駲<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>哎哟爱米粒<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>A_GAN_ <span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>aloha十三少<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>amitysee<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>哔哩哔哩西瓜<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>八苏-IS_BACK<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>bemifrau<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>Bock武靖宇<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>BIT天儿<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>babyPeanut<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>曹靖不懂科学<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>cha研<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>苍井空<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>CiCi川子<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>Coconut可可<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>豆子君_Allen<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>杜比杜吧喋<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
				<li class="contacts-item">
					<h4><span class="profile-pic60"></span>冬瓜1213<span class="img-button button-merge"></span><span class="img-button button-chats"></span></h4>
					<div class="profile-links">
						<span class="fa fa-weibo fa-lg"></span>
						<span class="fa fa-qq fa-lg"></span>
						<span class="fa fa-renren fa-lg"></span>
						<span class="fa fa-linkedin fa-lg"></span>
					</div>
				</li>
			</ul>
		</section>
	</body>
</html>